WEB_LISTEN=":9200"

MYSQL_HOST="127.0.0.1"
MYSQL_PORT=3306
MYSQL_USER="{{ pxc_checker_monitor_user }}"
MYSQL_PASS="{{ pxc_checker_monitor_password }}"

WEB_READ_TIMEOUT=10000
WEB_WRITE_TIMEOUT=20000

CHECK_DONORS_ENABLED=false
CHECK_RO_ENABLED=false
CHECK_FORCE_ENABLED=false
CHECK_INTERVAL=500
CHECK_FAIL_TIMEOUT=3000
